.jumbotron {
  background-image: url("images/starwars.jpg");
  min-height: 500px;
  max-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

#bio {

}

#bio h1 {
  font-family: sans-serif;
  font-weight: lighter;
}

#bio p {

}
