.jumbotron {
  background-image: url("images/hillside2.jpg");
  min-height: 580px;
  max-height: 700px
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -425px;
}

#bio {
}

#bio h1 {
  font-family: sans-serif;
  font-weight: lighter;
}

#bio p {

}

#acabadge{max-height: 75px;

}
#intro {font-family: sans-serif;
  color: white;

}
